bcrypt==4.0.1
email-validator==2.3.0
fastapi==0.135.1
groq==1.0.0
httpx==0.28.1
matplotlib==3.10.8
numpy==2.4.2
pandas==3.0.1
passlib==1.7.4
pillow==12.1.1
psutil==7.2.2
pydantic==2.12.5
pymongo==4.16.0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
scikit-learn==1.8.0
scipy==1.17.1
starlette==0.52.1
thop==0.1.1.post2209072238
torch==2.10.0
torchvision==0.25.0
uvicorn==0.41.0
